.loader-container {
    background-color: rgb(32, 32, 32);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

        .progress {
            height: 30px;
            width: 400px;
        }
        
        .progress-wrap {
        background: black;
        overflow: hidden;
        position: relative;
       

            &:before, 
            &:after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              padding: 8px 0;
              width: 100%;
              -webkit-clip: rect(0px, 0px, 0px, 0px);
              clip: rect(0px, 0px, 0px, 0px);
              background: whitesmoke;
              color: #000;
            }
            
            &:before {
              left: 0px;
              top: 0px;
              text-shadow: 20px 0 #fff;
              box-shadow: 20px 0 #fff;
            }
          
            &:after {
              left: 0px;
              bottom: -20px;
              text-shadow: -1px 0 #fff;
              box-shadow: -1px 0 #fff;
            }
          
            &:hover {
              color: white;
            }
          
            &::before {
                animation: glitch-test 2.5s infinite linear alternate-reverse;
            }
            
            &::after {
                animation: glitch-test 1.5s infinite linear alternate;
            }
                
                .progress-bar {
                  animation: run 4s ease-in-out infinite;
                  background: rgba(248,248,248,1);
                  left: 0;
                  position: absolute;
                  top: 0;
                }
              }
              
              @keyframes run {
                0% {
                  left: 0;
                }
                80% {
                    left: 80%;
                }
                  
                100% {
                    left: 100%;
                  }
              }
}

@keyframes glitch-test-loader {
    0% {
      clip: rect(-3px, auto, 0px, 0px);
    }
    5.88235% {
      clip: rect(0px, auto, 0px, 0px);
    }
    11.76471% {
      clip: rect(-3px, auto, 0px, 0px);
    }
    17.64706% {
      clip: rect(-3px, auto, 0px, 0px);
    }
    23.52941% {
      clip: rect(100px, auto, 100px, 0px);
    }
    29.41176% {
      clip: rect(0px, auto, auto, 0px);
    }
    35.29412% {
      clip: rect(100px, auto, 0px, 0px);
    }
    41.17647% {
      clip: rect(0px, auto, 400px, 0px);
    }
    47.05882% {
      clip: rect(100px, auto, 0px, 0px);
    }
    52.94118% {
      clip: rect(-3px, auto, 0px, 0px);
    }
    58.82353% {
      clip: rect(100px, auto,100px, 0px);
    }
    64.70588% {
      clip: rect(0px, auto, 0px, 0px);
    }
    70.58824% {
      clip: rect(100px, auto, 100px, 0px);
    }
    76.47059% {
      clip: rect(0px, auto, 0px, 0px);
    }
    82.35294% {
      clip: rect(0px, auto, 0px, 0px);
    }
    88.23529% {
      clip: rect(0px, auto, 0px, 0px);
    }
    94.11765% {
      clip: rect(0px, auto, 0px, 0px);
    }
    100% {
      clip: rect(0px, auto, 0px, 0px);
    }
  }